/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

p {
    color: #424247;
    line-height: 25px;
}

body {
    width: 90%;
    margin: 0 5%;
}







nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 30px 0;
}

nav>.logo, ul {
    display: flex;
    align-items: center;
}


nav .hamburger {
    display: none;
}

nav .logo > img {
    margin-right: 15px;
}

nav .logo > h2 {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}


nav .logo h2 > span {
    color: #FF5400;
    margin-left: 5px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    color: #424247;
    text-decoration: none;
}

header a.active {
    color: #FF5400;
    font-weight: 700;
}

header a:hover {
    color: #FF5400;
    font-weight: 700;
}


nav li {
    list-style: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 5px;
}



.banner {
    margin: 30px 0;
    height: 575px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat;
    background-size: contain;
}

.banner> h1 {
    margin-bottom: 40px;
    font-size: 64px;
}

.banner > p {
    margin-bottom: 70px;
    font-size: 17px;
    color: white;
}

.banner> h1, .banner >p {
    width: 60%;
    text-align: center;
}


.drop-down-container {
    display: flex;
    justify-content: space-evenly;
    width: 68%;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4); 
}

.drop-down-box {
    width: 200px;
    height: 63%;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    color: #424247;
}

.drop-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.drop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.drop-btn > i {
    margin-right: 10px;
}


.drop-down-container > button{
    background-color: #FF5400;
    color: white;
    border: 0;
}


/* ---------------------------------------------------------------------------- */









.section-01 {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 612px;
    display: flex;
    justify-content: space-between;
}



.text-portion > h2 {
    font-family: Mulish;
    color: #131318;
    font-size: 40px;
    font-weight: 400px;
    margin-bottom: 20px;

}

.text-portion > ul {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin: 20px 0;
}

.text-portion > ul > li {
    margin-bottom: 20px;
    color: #424247;
    line-height: 25px;
}



.section-01 > div, img {
    width: 50%;
}

.section-01 > img {
    height: 100%;
    width: auto;
}

.text-portion > button {
    background-color: #FF5400;
    padding: 16px 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    border: 0;
    margin-top: 47px;
}










  






.section-02 {
    margin-bottom: 100px;
}

.section-02 > .choose-destination {
    width: 60%;
    height: 150px;
    text-align: center;
    margin: 130px auto;
    margin-bottom: 50px;
}

.choose-destination > h2, .choose-destination> p {
    margin-bottom: 30px;
}

.choose-destination >h2 {
    font-size: 40px;
}

.grid-container {
    width: 100%;
    height: 920px;
}

.row {
        height: 300px;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
}

.section-02> .grid-container>.colum3 {
    width: 100%;
}

.section-02> .grid-container>.colum3> #img1{
    width: 35%;
}
.section-02> .grid-container>.colum3> #img2{
    width: 45%;
}
.section-02> .grid-container>.colum3> #img3{
    width: 20%;
}




.section-02> .grid-container>.colum2{
    width: 100%;
}

.section-02> .grid-container>.colum2> #img4{
    width: 40%;
}

.section-02> .grid-container>.colum2> #img5{
    width: 60%;
}












.section-03 {
    width: 100%;
    margin-bottom: 100px;
}

.section-03 > .why-choose-us {
    width: 60%;
    margin: 130px auto;
    margin-bottom: 40px;
    text-align: center;
}

.why-choose-us> p {
    margin-bottom: 20px;
    color: #424247;
}

.why-choose-us > h2 {
    margin-bottom: 20px;
    font-size: 40px;
}



.container1 {
    width: 100%;
    display: flex;
}

.container1 h3 , .container2 h3 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.container1 div {
    width: 50%;
    height: 300px;
    border-radius: 15px;
    padding: 40px;
}

.section-03 img {
    width: 60px;
    height: auto;
    margin-bottom: 25px;
}

.container1 > #cont1div1 {
    margin-right: 1%;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(251, 180, 99, 0.409);
}
.container1 > #cont1div2 {
    margin-left: 1%;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.container2 {
    width: 50%;
    margin: 30px auto;
    height: 300px;
    border-radius: 15px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(251, 180, 99, 0.409);
    padding: 40px;
}





.section-04 {
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.section-04 .newsletter-portion {
    width: 40%;
    border: 2px solid #FF5400;
    border-radius: 20px;
}
.section-04 .badge-box {
    width: 58%;
    background: url('../Images/Rectangle\ 8\ \(1\).png') no-repeat;
    background-size: contain;
    border-radius: 20px;
}

.badge a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.badge {
    color: white;
    background-color: #FF5400;
    width: 300px;
    height: 120px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    position: relative;
    left: 480px;
    top: 330px;
    transform: rotate(340deg);
}

.newsletter-portion {
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.newsletter-portion > h4 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.newsletter-portion > p {
    margin-bottom: 30px;
    font-size: 18px;
}

.newsletter-portion > input {
    margin-bottom: 20px;
    height: 60px;
    padding: 20px 20px;
    border-radius: 15px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

input::placeholder {
    font-size: 16px;
}

.newsletter-portion > hr {
    margin-bottom: 25px;
    border-color:  #42424727;
}

.newsletter-portion > button {
    height: 60px;
    background-color: #FF5400;
    color:  white;
    border-radius: 15px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}










footer {
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
    border-radius: 15px;
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-section {
    width: 60%;
    text-align: center;
}

.footer-section > .last-logo-portion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 80px;
}

.last-logo-portion > h3 {
    font-size: 32px;
    font-weight: 700;
}
.last-logo-portion > h3 > span {
    color: #FF5400;
}
.last-logo-portion > img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.footer-section > P {
    line-height: 25px;
    margin-bottom: 35px;
}

.footer-section .social-handles {
    margin-left: 50px;
}

.footer-section .social-handles > i {
    margin-right: 40px;
    margin-bottom: 60px;
}

.footer-section hr {

    margin-bottom: 60px;
}











/* responsive for Large screen & Laptop (start from 992px) */

@media screen and (min-width:992px) {
    
}












/* responsive for mobile devices (ends at 600px)*/
@media screen and (max-width: 600px) {

    body {
        width: 100%;
        padding:0 5%;
    }
    

    nav ul{
        display: none;
    }

    nav .hamburger {
        display: block;

    }

    nav > .logo> h2 {
        font-size: 1.6rem;
    }

    .logo img {
        width: 50px;
    }
    

    .banner {
        height: 650px;
        justify-content: center;
        background-size: cover;
    }

    .banner h1 {
        font-size:1.6rem;
        margin-top: 20px;
    }

    .banner> p {
        margin-bottom: 30px;
    }

    .drop-down-container {
        width: 65%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .drop-down-box {
        width: 90%;
        margin: 10px auto;
        height: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .drop-btn  {
        display: flex;
        justify-content: center;
    }






    
    .section-01 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: 1150px;
    }
    
    .section-01 > .text-portion {
        width: 100%;
    }

    .text-portion > h2 {
        font-size: 1.5rem;
    }

    .text-portion > button {
        padding: 12px 20px;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .section-01 > img {
        width: 100%;

    }




    

    .section-02 {
        width: 100%;
        height: 2200px;
    }

    .choose-destination > h2 {
        font-size: 26px;

    }

    .section-02 .choose-destination {
        text-align: center;
        margin-bottom: 40px;
        width: 80%;
        height: auto;
    }


    .grid-container > .row {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .row > img {
        width: 100%;
        height: 278px;
    }


    .section-02> .grid-container>.colum3> #img2 {
        width: 100%;
        height: 278px;
    }

    .section-02> .grid-container>.colum3> #img1 {
        width: 100%;
        height: 278px;

    }

    container>.colum3> #img3 {
        width: 100%;
        height: 278px;
    }

    .section-02> .grid-container>.colum2> #img4 {
        width: 100%;
        height: 278px;
    }

    .section-02> .grid-container>.colum3> #img3 {
        width: 100%;
    }


    .section-02> .grid-container>.colum2> #img5 {
        width: 100%;
        height: 278px;
    }


    .section-03 > .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container1 div{
        width: 100%;
        height: 350px;
        margin-bottom: 30px;
    }

    .container2 {
        width: 100%;
        height: 350px;
        margin: 0px auto;
    }



    .section-04 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .section-04 .newsletter-portion {
        width: 100%;
    }

    .section-04 .badge-box {
        width: 100%;
        height: 430px;
        margin-top: 50px;
        background-color: red;
        border: 2px solid black;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    .badge {
        height: 100px;
        width: 300px;
        left: 150px;
        top: 270px;

    }

    .badge h3 {
        font-size: 24px;
    }

    .badge a {
        font-size: 15px;
    }




    footer {
        width: 100%;
        margin-top: 30px;
        height: auto;
    }

    .footer-section {
        width: 90%;
        padding-top: 50px;
    }

    .last-logo-portion {
        font-size: 30px;
    }
    
    .footer-section .last-logo-portion {
        padding-top: 0;

    }

    .last-logo-portion > img {
        height: 42px;
    }

}




/* for smaller moblie devices  */
@media screen and (max-width: 490px) {
    .badge {
        height: 70px;
        width: 200px;
        top: 315px;
        left: 90px;

    }

    .footer-section .social-handles {
        margin-left: 0;
        padding-left: 32px;
    }

}